        <%- include('./partials/header'); %>
    <main>
        
        <div class="container">
           <img src="/img/ilustra-user.png" alt="ficha cadastral">

           <div class="box-white">
                <h1>Cadastre-se</h1>

                <form action="/cadastro" method="POST">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">

                    <button type="submit">Enviar</button>

                </form>
                <a href="/login">Já sou cadastrado, fazer login!</a>
           </div> 

        </div>
    </main>
    <%- include('./partials/footer'); %>