<%- include('./partials/header'); %>
    <main>
        
        <div class="container">
           <img src="/img/ilustra-chill.png" alt="pessoca com gato no sofa">
           <div class="box-white">
                <h1>Login</h1>
                <form action="/login" method="POST">

                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">

                    <button type="submit">Entrar</button>

                </form>
                <a href="/cadastro">Ainda Não Sou Cadastrado!</a>
           </div> 

        </div>
    </main>
    <%- include('./partials/footer'); %>